@model ForensicBones3.Models.InventarioCranio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InventarioCranio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventarioEsqueletoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventarioEsqueletoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoCranio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoCranio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventarioEsqueleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventarioEsqueleto.InventarioEsqueletoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InventarioCranioId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
