@model IEnumerable<ForensicBones3.Models.InventarioCranio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InventarioEsqueletoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoCranio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventarioEsqueleto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InventarioEsqueletoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FotoCranio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventarioEsqueleto.InventarioEsqueletoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InventarioCranioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InventarioCranioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InventarioCranioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
